$primary-font: Roboto, sans-serif;
$secondary-font: Montserrat, sans-serif;
$primary-bg: #F2F4F7;
$primary-color: #353535;
$primary-green: #50CAA0;
$primary-navy: #354458;

@mixin box {
  background: rgba(255,255,255,0.5);
  border: solid 2px #EFEFEF;
  border-radius: 5px;
}

@mixin center {
  margin-left: 50%;
  transform: translateX(-50%);
}

@mixin button {
  font-family: $secondary-font;
  font-size: 0.7em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 15px 35px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

@mixin button-hover {
  box-shadow: 0px 2px 4px 0px #A5A5A5;
}

@mixin thin-font {
  font-weight: 100;
}

@mixin light-font {
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  background: $primary-bg;
  font: 100% $primary-font;
  color: $primary-color;
}


/************ LANDING ************/

.header {
  text-align: center;
  margin-top: 30px;
}
.logo img {
  width: 100px;
}

.title {
  @include thin-font;
  font-size: 2.5em;
  margin-top: 15px;
}

.content {
  @include center;
  @include box;
  width: 350px;
  height: 400px;
  margin-top: 20px;
}

.greeting {
  @include light-font;
  text-align: center;
  line-height: 2.5em;
  padding: 35px;
  font-size: 0.85em;
}

.name-form {
  @include light-font;
  @include center;
  border-bottom: solid 1px gray;
  width: 70%;
  margin-top: 50px;
  padding: 10px;
  font-size: 1.25em;
  opacity: 0.6;
}

.button-start {
  @include button;
  @include center;
  background: #354458;
  display: inline-block;
  margin-top: 50px;
}

.button-start:hover {
  @include button-hover;
}


/************ QUESTION ************/

.answer {
  background: $primary-navy;
}

.q-container {
  @include center;
  @include box;
  width: 600px;
  padding: 35px;
  margin-top: 100px;

  ul {
    padding: 0;
    margin-top: 35px;
  }

  ul li {
    width: 175px;
    margin: 20px;
    list-style-type: none;
    @include button;
    @include center;
  }

  ul li:hover {
    @include button-hover;
  }
}

#a1 {
  background: #EB7260;
}

#a2 {
  background: #29ABA4;
}

#a3 {
  background: $primary-navy;
}

.question {
  @include thin-font;
  text-align: center;
  font-size: 1.25em;
  margin-top: 25px;
}

.hello {
  padding-bottom: 15px;
  font-size: 1.5em;
}


/************ CHAT ************/

.chat-container {
  @include box;
  width: 80%;
  height: 550px;
  position: relative;
  margin: 25px auto;
  border: solid 1px rgb(210, 210, 210);
}

.chat-header {
  @include light-font;
  width: 100%;
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 25px 0;
  color: $primary-green;
  font-style: italic;
  letter-spacing: 0.05em;
  border-bottom: solid 1px #EFEFEF;
}

.chatbuddy {
  font-weight: 500;
}

.chat-footer {
  display: inline-block;
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  background: #F2F2F2;
  // padding: 15px;
  border-top: solid 1px #EFEFEF;
}

.chat-bar {
  width: calc(100% - 150px);
  height: 50px;
  background: white;
  float: left;
  border-radius: 15px;
  margin: 12.5px;
}

.send-button {
  @include button;
  background: $primary-green;
  float: right;
  margin: 15px 15px 0 0;
}

.send-button:hover {
  @include button-hover;
}

.chat-text {
  @include light-font;
  width: 25%;
  padding: 15px;
  background: #FCFCFC;
  position: relative;
  margin: 50px 0 0 120px;
  box-shadow: 0 0 50px 2px rgba(163, 163, 163, 0.20);
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  color: #717171;
}

.chat-user {
  width: 50px;
  background: $primary-navy;
  color: white;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 15px 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1.25em;
}

.chat-text:nth-child(odd) .chat-user {
  left: -50px;
}

.chat-text:nth-child(even) .chat-user {
  right: -50px;
}

.chat-text:nth-child(even) {
  float: right;
  margin: 0 120px 0 0;
}


/************ MAP ************/

.map-container {
  @include box;
  width: 70%;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
}

.map {
  width: 600px;
  height: 600px;
  margin: 20px auto;
}

.lab {
  @include light-font;
  height: 50px;
  margin: 30px auto;
  color: #29ABA4;
  text-align: center;
}

.label {
  font-size: 2em;
  font-family: $secondary-font;
}


/************ TRENDING ************/

.trends-container {
  @extend .q-container;
  height: 350px;
  #first-col {
    margin-left: calc(50% - 225px);
  }
  ul {
    float: left;
  }
  ul li {
    width: 135px;
  }
}


.choose-trends {
  @extend .question;
  font-size: 1.75em;
}



